---
title: Van Gorsel - Project
---

<div class="projects-container __mobile __desktop">
  <div class="show-text">
    <h3 class="text-center"><b><%= name %></b></h3>
  </div>
  <div class="slideshow">
    <div class="slideshow__arrow-next">
      <%= image_tag "arrow.png", :class => "arrow-white arrow__right"%>
      <%= image_tag "arrow-white.png", :class => "arrow arrow__right"%>
    </div>
    <div class="slideshow__arrow-back">
      <%= image_tag "arrow.png", :class => "arrow-white arrow__left"%>
      <%= image_tag "arrow-white.png", :class => "arrow arrow__left"%>
    </div>
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      <% images.each_with_index do |image, index| %>
      <div class="mySlides inactive">
        <%= image_tag image, :class => "slider-img"%>
      </div>
      <% end %>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <% images.each_with_index do |image, index| %>
      <span class="dot" onclick="currentSlide(<%= index + 1 %>)"></span>
      <% end %>
    </div>
  </div>

  <div class="show-text">
    <p><%= description %></p>
  </div>
</div>

<a id="projecten"></a>
<%= partial "layouts/projects_overview" %>


