---
title: BVBD - Home
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'homepage-banner.jpg' %>);">
  <div class="banner-content">
    <h1>BVBD</h1>
    <p>Wij zijn een multidicplinair adviesbureau dat ervaring, strategie en professionaliteit combineerd met een passie voor bouwen en gebouw.</p>
    <%= link_to "Wat kan ik voor je doen?", "#wat-kan-ik-doen", class: "btn btn-primary" %>
  </div>
</div>

<a id="over-ons"></a>
<div class="over-ons-container">
  <div>
    <%= image_tag "portrait-placeholder.jpg", :class => "portrait-img"%>
  </div>
  <div>
    <h1>Over ons</h1>
    <h5>Cras dapibus. Vivamus eleme nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, port.</h5>
  </div>
</div>
</div>

<a id="ontwerp"></a>
<div class="divide-banner-skills-container" style="background-color: rgba(255,255,255,1)">
  <% link_to "about.html", class: "divide-banner-skills ontwerp" , style: "background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/img1.jpeg');" do%>
  <div id="text">
    <h1>Ontwerp</h1>
  </div>
  <% end %>
  <% link_to "about.html", class: "divide-banner-skills bouw" , style: "background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/img2.jpeg');" do%>
  <div id="text">
    <h1>Bouw</h1>
  </div>
  <% end %>
  <% link_to "about.html", class: "divide-banner-skills vastgoed" , style: "background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/img3.jpeg');" do%>
  <div id="text">
    <h1>vastgoed</h1>
  </div>
  <% end %>
</div>

<h2 class="text-center">Werk</h2>
<div class="card-container">
  <% data.projects.each do |owner, project| %>
  <div class="project-card transition">
    <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path project.images.first %>);">
      <div class="card-category"><%= project.city_name %></div>

      <%= link_to "", "projects/#{owner}.html", class: "card-link" %>
    </div>
    <div class="card-description">
      <p><%= project.name %></p>
    </div>
  </div>
  <% end %>
</div>

<a id="contact"></a>

<div class="container" id="home-projects">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-4 col-sm-4">

      <iframe height="1118"
      allowTransparency="true"
      frameborder="0"
      scrolling="no"
      style="width:100%;border:none"
      src="https://pimmesz.wufoo.com/embed/zedhxf70oxctnw/">
      <a href="https://pimmesz.wufoo.com/forms/zedhxf70oxctnw/">
        Fill out my Wufoo form!
      </a>
    </iframe>
    <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">
      <span class="notranslate">
        The easy to use <a href="http://www.wufoo.com/form-builder/">Wufoo form builder</a> helps you make forms easy, fast, and fun.
      </span>
    </div>

  </div>
</div>
</div>
