---
title: Le Wagon - Middleman
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'homepage-banner.jpg' %>);">
  <div class="banner-content">
    <h1>BVBD</h1>
    <p>Wij zijn een multidicplinair adviesbureau dat ervaring, strategie en profes- sionaliteit combineerd met een passie voor bouwen en gebouw.</p>
    <%= link_to "Wat kan ik voor je doen?", "#wat-kan-ik-doen", class: "btn btn-primary" %>
  </div>
</div>

<a id="over-ons"></a>
<div class="over-ons-container">
  <div>
    <%= image_tag "portrait-placeholder.jpg", :class => "portrait-img"%>
  </div>
  <div>
    <h1>Over ons</h1>
    <h5>Cras dapibus. Vivamus elem nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, port.</h5>
  </div>
</div>
</div>

<a id="ontwerp"></a>
<div class="divide-banner-skills-container" style="background-color: rgba(255,255,255,1)">
    <% link_to "about.html", class: "divide-banner-skills ontwerp" , style: "background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/img1.jpeg');" do%>
    <div id="text">
      <h1>Ontwerp</h1>
    </div>
    <% end %>
    <% link_to "about.html", class: "divide-banner-skills bouw" , style: "background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/img2.jpeg');" do%>
    <div id="text">
      <h1>Bouw</h1>
    </div>
    <% end %>
    <% link_to "about.html", class: "divide-banner-skills vastgoed" , style: "background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/img3.jpeg');" do%>
    <div id="text">
      <h1>vastgoed</h1>
    </div>
    <% end %>
</div>

<h2 class="text-center">Werk</h2>
<div class="card-container">
  <% data.projects.each do |owner, project| %>
  <div class="project-card transition">
    <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path project.images.sample %>);">
      <div class="card-category"><%= project.city_name %></div>

      <%= link_to "", "projects/#{owner}.html", class: "card-link" %>
    </div>
    <div class="card-description">
      <p><%= project.name %></p>
    </div>
  </div>
  <% end %>
</div>

<a id="contact"></a>
<div class="divide-banner" style="background-color: rgba(209,104,41,1)">
  <div class="divide-banner-text">
    <h2>Contact</h2>
  </div>
</div>

<div class="container" id="home-projects">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-4 col-sm-4">
     <form>

      <div class="form-check set">
        <label class="form-check">
          <b>Particulier of bedrijf</b>
          <br>
          <input type="checkbox" class="form-check-input">
          Particulier
        </label>
        <br>
        <label class="form-check">
          <input type="checkbox" class="form-check-input">
          Bedrijf
        </label>
      </div>

      <div class="form-check set">
        <label class="form-check">
          <b>Ik heb interesse in</b>
          <br>
          <input type="checkbox" class="form-check-input">
          Ontwerp
        </label>
        <br>
        <label class="form-check">
          <input type="checkbox" class="form-check-input">
          Bouw
        </label>
        <br>
        <label class="form-check">
          <input type="checkbox" class="form-check-input">
          Vastgoed
        </label>
      </div>

      <div class="form-check set">
        <label class="form-check">
          <b>Werkzaamheden</b>
          <br>
          <input type="checkbox" class="form-check-input">
          Verbouw
        </label>
        <br>
        <label class="form-check">
          <input type="checkbox" class="form-check-input">
          Aan- en opbouw
        </label>
        <label class="form-check">
          <input type="checkbox" class="form-check-input">
          Nieuwbouw
        </label>
        <label class="form-check">
          <input type="checkbox" class="form-check-input">
          Bouwtechnisch advies
        </label>
        <label class="form-check">
          <input type="checkbox" class="form-check-input">
          Bouwtechnische keuring
        </label>
        <label class="form-check">
          <input type="checkbox" class="form-check-input">
          Splitsing appartementen
        </label>
        <label class="form-check">
          <input type="checkbox" class="form-check-input">
          Legalisatie bestaande situatie
        </label>
        <label class="form-check">
          <input type="checkbox" class="form-check-input">
          Verhuurbemiddeling
        </label>
        <label class="form-check">
          <input type="checkbox" class="form-check-input">
          Vastgoed exploitatie
        </label>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        <input type="name" class="form-control" placeholder="Name">
        <input type="adres" class="form-control" placeholder="Adres">
        <input type="postcode" class="form-control" placeholder="Postcode">
        <input type="tel" class="form-control" placeholder="Telefoonnummer">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</div>
