---
title: Le Wagon - Middleman
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'homepage-banner.jpg' %>);">
  <div class="banner-content">
    <h1>BVBD</h1>
    <p>Wij zijn een multidicplinair adviesbureau dat ervaring, strategie en profes- sionaliteit combineerd met een passie voor bouwen en gebouw.</p>
    <%= link_to "Wat kan ik voor je doen?", "#wat-kan-ik-doen", class: "btn btn-primary" %>
  </div>
</div>

<a id="wat-kan-ik-doen"></a>
<div class="divide-banner" style="background-color: rgba(209,104,41,1)">
  <div class="divide-banner-text">
    <h2>Wat kan ik voor je doen?</h2>
  </div>
</div>

<div class="container" id="home-projects">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- <i class="fa fa-thumbs-up"></i> -->
      <h1>Ontwerp</h1>
      <h5>Cras dapibus. Vivamus elem nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, port.</h5>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h1>Bouw</h1>
      <h5>Cras dapibus. Vivamus elem nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, port.</h5>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h1>Vastgoed</h1>
      <h5>Cras dapibus. Vivamus elem nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, port.</h5>
    </div>
  </div>
</div>

<a id="ontwerp"></a>
<div class="divide-banner" style="background-color: rgba(209,104,41,1)">
  <div class="divide-banner-text">
    <h2>Ontwerp</h2>
  </div>
</div>

<div class="container" id="home-projects">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <p>
        Een goed ontwerp is meer dan een plaatje. Het brengt uw wensen en mogelijkheden samen met bouwtechniek en uitstraling.  Het gaat uit van hoe u wilt leven, werken en/of recreeren. Het proces van het ontwerp is op gedeeld in fases.

        Haalbaarheid; Samen kijken we naar de mogelijkheden van uw plannen. Wat zijn de wensen, uitstraling en hoeveel mag dit kosten. Aan het einde van deze fase heeft u een ontwerp met daarbij behorende indicatie van de kosten.
        Definitief ontwerp; Tijdens deze fase gaan we inzoomen op uw specifieke wensen en uitstraling. We stemmen materialen, bouwmethode, constructie en (installatie-)techniek op elkaar af.
        Omgevingsvergunning; Uw plan wordt verder uitgewerkt. De tekeningen worden opgesteld, zodat de gemeente het plan kan toetsen op bouwbesluit eisen en overige planologische eisen.
      Uitvoeringsvoorbereiding; Om uw plan te kunnen realiseren worden gebouwonderdelen in kaartgebracht en gereedgemaakt voor de aanbesteding aan onderaannemers. Dit kan gaan om muren, daken en vloeren, maar ook om onderdelen zoals een badkamer of maatwerkkeuken.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "img1.jpeg", :class => "description-img"%>
    </div>
  </div>
  <h2 class="text-center">Recent projects</h2>
  <div class="row">
    <% data.projects.each do |owner, flat| %>
    <%=  %>
    <% if flat.type == "ontwerp" %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path flat.images.first %>);">
        <div class="card-category"><%= flat.city_name %></div>
        <div class="card-description">
          <h5><%= flat.name %></h5>
        </div>
        <%= link_to "", "projects/#{owner}.html", class: "card-link" %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<a id="bouw"></a>
<div class="divide-banner" style="background-color: rgba(209,104,41,1)">
  <div class="divide-banner-text">
    <h2>Bouw</h2>
  </div>
</div>

<div class="container" id="home-projects">
  <div class="row">
   <div class="col-xs-12 col-sm-4">
    <%= image_tag "img1.jpeg", :class => "description-img"%>
  </div>
  <div class="col-xs-12 col-sm-8">
    <p>
      Een goed ontwerp is meer dan een plaatje. Het brengt uw wensen en mogelijkheden samen met bouwtechniek en uitstraling.  Het gaat uit van hoe u wilt leven, werken en/of recreeren. Het proces van het ontwerp is op gedeeld in fases.

      Haalbaarheid; Samen kijken we naar de mogelijkheden van uw plannen. Wat zijn de wensen, uitstraling en hoeveel mag dit kosten. Aan het einde van deze fase heeft u een ontwerp met daarbij behorende indicatie van de kosten.
      Definitief ontwerp; Tijdens deze fase gaan we inzoomen op uw specifieke wensen en uitstraling. We stemmen materialen, bouwmethode, constructie en (installatie-)techniek op elkaar af.
      Omgevingsvergunning; Uw plan wordt verder uitgewerkt. De tekeningen worden opgesteld, zodat de gemeente het plan kan toetsen op bouwbesluit eisen en overige planologische eisen.
    Uitvoeringsvoorbereiding; Om uw plan te kunnen realiseren worden gebouwonderdelen in kaartgebracht en gereedgemaakt voor de aanbesteding aan onderaannemers. Dit kan gaan om muren, daken en vloeren, maar ook om onderdelen zoals een badkamer of maatwerkkeuken.</p>
  </div>
</div>
<h2 class="text-center">Recent projects</h2>
<div class="row">
  <% data.projects.each do |owner, flat| %>
  <% if flat.type == "bouw" %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
      <div class="card-category"><%= flat.city_name %></div>
      <div class="card-description">
        <h4><%= flat.name %></h4>
      </div>
      <%= link_to "", "projects/#{owner}.html", class: "card-link" %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>

<a id="vastgoed"></a>
<div class="divide-banner" style="background-color: rgba(209,104,41,1)">
  <div class="divide-banner-text">
    <h2>vastgoed</h2>
  </div>
</div>

<div class="container" id="home-projects">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "img1.jpeg", :class => "description-img"%>
    </div>
    <div class="col-xs-12 col-sm-8">
      <p>
      Nog voor de dotcom-crisis van 2001 zagen wij vastgoed als een veilige belegging. We initieerde in 1999 een vastgoedproject dat we namens onze opdrachtgever heden ten dagen nog steeds exploiteren. Dit geeft ons de ruime ervaring die u mag verwachten van een vastgoedpartner. In de periode van meer dan 15 jaar hebben wij verhuurpanden; bemiddeld, geinitieerd en geexploiteerd. We kijken naar elk object met onze eigen blik. We kijken naar de mogelijkheden van het pand, de locatie en de bijbehorend marktsegment. Wat is de optimale gebouwconfiguratie voor het beoogde wijze van exploitatie.  Basale studentenkamers, compacte studios of juist appartementen in het liberale segment van de verhuurmarkt. Heeft u een pand dat u wil transformeren? Heeft u een pand op het oog als belegging? Laat ons u adviseren over de mogelijkheden en het toekomstig rendement.</p>
    </div>
  </div>
</div>


<!-- <form action="https://getsimpleform.com/messages?form_api_token=<form_api_token>" method="post">

  <input type='text' name='test' />

  <input type='submit' value='Test form' />
</form>
-->
